/*index styling*/
/* buttons */

p {
    font-family: 'Exo 2', sans-serif;
}

/*navbar*/

.nv-style:before,
.nv-style:after {
    content: " ";
    display: table;
}

.nv-style:after {
    clear: both;
}

.nv-style {
    zoom: 1;
}



.nav-link {
    color: #fef9f8;
}

.buttons {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.buttons:focus {
  text-decoration: none;
}

.buttons:hover {
  text-decoration: none;
}

.buttons:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.buttons:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .buttons {
    padding: 12px 50px;
  }
}


@media (max-width: 768px) {
    .p-lg-5,
    .p-0 {
        padding: 0;
    }

    .p-lg-4,
    .p-0 {
        padding: 0;
    }
}

/* colors */

body {
    background: rgb(33,212,253);
    background: linear-gradient(180deg, rgba(33,212,253,1) 0%, rgba(183,33,255,1) 100%);
    padding: 10px; 
    max-width: 100%; 

    /* Responsive Typography */
    font-size: 1rem; 

    @media (max-width: 768px) {
        font-size: 0.9rem; 
    }

    @media (max-width: 576px) {
        font-size: 0.8rem; 
    }
}

div {
    border-radius: 35px;
}

.main-color{
    background-color: #FCFCD4;
}

.secondary-color{
    background-color: #fef9f8;
}

.tertiary-color{
    background-color: #0d0d0d;
}

.border{
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.comment-section {
    background-color: #e9e9c19c;
}

.comment-like{
    justify-content: space-evenly;
}

/*index buttons*/
.main-btn{
    border-radius: 25px;
    background-color: #007663;
    color: #fef9f8;
    --bs-btn-hover-color: #93CCC2;
    --bs-btn-focus-shadow-rgb: 49,132,;
    --bs-btn-active-color: #fef9f8;
    --bs-btn-active-bg: #e86133;
    --bs-btn-active-border-color: #106d8c;
    --bs-btn-active-shadow: inset 0 3px 5px;
}

/*post styling*/
/*post background*/
.post-bg{
    background: rgb(252,252,212);
    background: radial-gradient(circle, rgba(252,252,212,1) 85%, rgba(67,142,127,1) 100%);
}

/*post text*/
.post-text{

}

/*post title styling*/
.title-bg {
    border-radius: 25px;
    background-color: #007663;
}

.text-style {
    color: #fef9f8;
    text-decoration-line: none;
}

/*post.cardbody*/
.post-cardbody{
    background: rgb(252,252,212);
    background: radial-gradient(circle, rgba(252,252,212,1) 85%, rgba(67,142,127,1) 100%);
    padding: 15px;
}

/*form*/
@media (max-width: 767.98px) {
    .navbar .row {
        flex-direction: column;
    }
}

.border {
    color: red;
}