/*index styling*/
/* buttons */

p {
    font-family: 'Exo 2', sans-serif;
    color: white;
    font-size: 1rem;
}

/*navbar*/
.navbar-brand img {
    max-height: 100%; 
}

.nv-style:before,
.nv-style:after {
    content: " ";
    display: table;
}

.nv-style:after {
    clear: both;
}

.nv-style {
    zoom: 1;
    border-radius: 50px; 
    background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
}

.nv-style .container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Allow columns to grow to fill available space */
.nv-style .container > .row {
    flex-grow: 1;
}

/* Set a maximum height for the image inside the navbar */
.navbar-brand img {
    max-height: 100%;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 767.98px) {
    .nv-style .container {
        flex-direction: column;
    }
}

.nav-link {
    color: #fef9f8;
}

.buttons {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.buttons:focus {
  text-decoration: none;
}

.buttons:hover {
  text-decoration: none;
}

.buttons:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.buttons:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.dropdown-menu {
    background: none;
    border: none;
}

@media (min-width: 768px) {
    .buttons {
    padding: 12px 50px;
  }
}


@media (max-width: 768px) {
    .p-lg-5,
    .p-0 {
        padding: 0;
    }

    .p-lg-4,
    .p-0 {
        padding: 0;
    }
}

/* colors */

body {
    background-color: #ffffff;
    margin-top: 90px;
}

div {
    border-radius: 35px;
}

.main-color{
    background-color: #007663;
    color: #fef9f8;
}

.secondary-color{
    background-color: #FCFCD4;
}

.tertiary-color{
    background-color: #0d0d0d;
}

.border{
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

.comment-section {
    background-color: #e9e9c19c;
}

.comment-like{
    justify-content: space-evenly;
    color: white;
}

/*index buttons*/
.main-btn{
    border-radius: 25px;
    background-color: #007663;
    color: #fef9f8;
    --bs-btn-hover-color: #93CCC2;
    --bs-btn-focus-shadow-rgb: 49,132,;
    --bs-btn-active-color: #fef9f8;
    --bs-btn-active-bg: #e86133;
    --bs-btn-active-border-color: #106d8c;
    --bs-btn-active-shadow: inset 0 3px 5px;
}

/*post styling*/


/*post text*/
.post-text{
color: white;
}

/*post title styling*/
.title-bg {
    border-radius: 25px;
    background-color: #007663;
}

.text-style {
    color: #fef9f8;
    text-decoration-line: none;
}


/*form*/
@media (max-width: 767.98px) {
    .navbar .row {
        flex-direction: column;
    }
}

/*profile*/

.pfp {
    width: 20%;
}

.edit-message {
    position: absolute;
    top: 10px;
    right: 10px;
}

#messages {
    background-color: #e86133;
    border-color: #000;
}

.card {
    border: none;
    background: none;
}

@media (max-width: 767.98px) {
    #filter {
        padding-top: 145px;
        padding-bottom: 15px;
    }
}