/*index styling*/
/* buttons */

p {
    font-family: 'Exo 2', sans-serif;
}

.darken {
    background-color: #007bff;
}




/*.btn-custom-primary {
  color: #fff;
  background-color: ##80669D;
  border-color: #ff0000;
}*/