{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10 rounded-pill shadow-lg p-lg-5 p-0">
            <div class="p-md-5 p-0">
                <form class="m-5" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}"></label>
                        {{ form.title|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.content.id_for_label }}"></label>
                        {{ form.content|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.tags.id_for_label }}"></label>
                        {{ form.tags|as_crispy_field }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.featured_image.id_for_label }}"></label>
                        {{ form.featured_image|as_crispy_field }}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}